name: ci
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
jobs:
  test-groups:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      BATON_REFRESH_TOKEN: ${{ secrets.BATON_REFRESH_TOKEN }}
      BATON_APP_KEY: ${{ secrets.BATON_APP_KEY }}
      BATON_APP_SECRET: ${{ secrets.BATON_APP_SECRET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-dropbox
        run: go build ./cmd/baton-dropbox
      - name: Grant/revoke group test
        uses: ConductorOne/github-workflows/actions/sync-test@v2
        with:
          connector: ./baton-dropbox
          baton-entitlement: "${{ vars.TEST_GROUP_ENTITLEMENT }}"
          baton-principal: "${{ vars.TEST_GROUP_PRINCIPAL }}"
          baton-principal-type: "${{ vars.TEST_GROUP_PRINCIPAL_TYPE }}"
  test-roles:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      BATON_REFRESH_TOKEN: ${{ secrets.BATON_REFRESH_TOKEN }}
      BATON_APP_KEY: ${{ secrets.BATON_APP_KEY }}
      BATON_APP_SECRET: ${{ secrets.BATON_APP_SECRET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-dropbox
        run: go build ./cmd/baton-dropbox
      - name: Grant/revoke role test
        uses: ConductorOne/github-workflows/actions/sync-test@v2
        with:
          connector: ./baton-dropbox
          baton-entitlement: "${{ vars.TEST_ROLE_ENTITLEMENT }}"
          baton-principal: "${{ vars.TEST_ROLE_PRINCIPAL }}"
          baton-principal-type: "${{ vars.TEST_ROLE_PRINCIPAL_TYPE }}"
  test-account-provisioning:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      BATON_REFRESH_TOKEN: ${{ secrets.BATON_REFRESH_TOKEN }}
      BATON_APP_KEY: ${{ secrets.BATON_APP_KEY }}
      BATON_APP_SECRET: ${{ secrets.BATON_APP_SECRET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-dropbox
        run: go build ./cmd/baton-dropbox
      - name: Test account provisioning
        uses: ConductorOne/github-workflows/actions/account-provisioning@v3
        with:
          connector: ./baton-dropbox
          account-email: "${{ vars.TEST_ACCOUNT_EMAIL }}"
          search-method: "email"
  test-actions:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      BATON_REFRESH_TOKEN: ${{ secrets.BATON_REFRESH_TOKEN }}
      BATON_APP_KEY: ${{ secrets.BATON_APP_KEY }}
      BATON_APP_SECRET: ${{ secrets.BATON_APP_SECRET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-dropbox
        run: go build ./cmd/baton-dropbox
      - name: Get baton
        uses: ConductorOne/github-workflows/actions/get-baton@v2
      - name: Sync to get user list
        run: ./baton-dropbox
      - name: Test disable user action
        run: |
          ./baton-dropbox --invoke-action=disable_user --invoke-action-args='{"user_id": "${{ vars.TEST_ACTION_USER_ID }}"}'
      - name: Test enable user action
        run: |
          ./baton-dropbox --invoke-action=enable_user --invoke-action-args='{"user_id": "${{ vars.TEST_ACTION_USER_ID }}"}'
